@import "../../styles/variables.css";
.centuries {
  max-height: fit-content;
  width: calc(100vw);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-transparent-grey);
  backdrop-filter: blur(5px);
}

@media (min-width: 500px) {
  .centuries {
    width: 90vw;
    border-left: 5px solid var(--crimson-red);
    border-radius: var(--rounded-borders);
  }

  .nav {
    border-radius: 0 15px 0 0;
  }
}

@media (min-width: 700px) {
  .centuries {
    width: 80vw;
  }
}

@media (min-width: 1000px) {
  .centuries {
    width: 70vw;
  }
}

@media (min-width: 1300px) {
  .centuries {
    width: 60vw;
  }
}

.nav {
  width: 100%;
  min-height: 4em;
  max-height: fit-content;
  display: flex;
  padding: 0.25rem 0;
  padding-left: 0.25rem;
  background-color: #33333340;
  border-bottom: 3px solid var(--bg-transparent);
  box-shadow: 1px 2px 4px 0 var(--bg-grey);
}

.nav__btn {
  flex-basis: 25%;
  margin: 0.25em 0;
  border: none;
  color: var(--headers-color);
  background-color: #33333300;
  font: var(--subheaders-font);
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 1em;

  & .btn__text {
    position: relative;
    transition: all 0.2s ease;
  }

  & .btn__text:hover {
    cursor: pointer;
    font-weight: bold;
    text-shadow: var(--crimson-red) 1px 0 10px;
  }

  & .btn__text::after {
    content: "";
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: width 0.2s ease, background-color 0.2s ease;
  }

  & .btn__text:hover::after {
    width: 50%;
    background: var(--crimson-red);
  }

  &.chosen .btn__text {
    text-shadow: var(--crimson-red) 1px 0 10px;
  }

  &.chosen::before {
    content: "";
    width: 1em;
    height: 1.5em;
    background-color: var(--crimson-red);
    position: absolute;
    top: -0.5em;
    right: 0.5em;
    box-shadow: -1px 2px 4px #292929;
    animation: enterFromTop 0.2s;
  }

  &:not(:last-child) {
    border-right: 3px solid #15151540;
  }
}

@keyframes enterFromTop {
  0% {
    height: 0;
  }

  100% {
    height: 2em;
  }
}

@media (min-width: 700px) {
  .nav__btn {
    font-size: 1.25em;
  }

  .nav__btn:last-child {
    border-radius: 0 15px 0 0;
  }
}

.century {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 1em;
  padding-left: 1.5em;
}

.section {
  padding-top: 0;
  margin: 0 0.5em;
  margin-bottom: 0.5em;
  position: relative;

  & .section__header {
    color: var(--headers-color);
    font: var(--headers-font);
    line-height: 0.8em;
    margin-bottom: 0.25em;
    width: 70%;
  }

  & .section__content {
    font: var(--paragraph-font);
    color: var(--paragraph-color);
  }
}

.link {
  width: fit-content;
  height: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  float: right;
}

.link__description {
  background-color: var(--bg-transparent-grey);
  border-radius: 15px;
  padding: 0.5em;
  text-align: center;
  font: var(--headers-font);
  color: var(--headers-color);
  font-size: 0.8em;
  opacity: 0;
  transition: opacity 0.2s ease;

  &.active {
    opacity: 1;
  }

  & p:first-child {
    text-decoration: underline 2px var(--crimson-red-transparent);
    transition: text-decoration 0.2s ease;
  }

  & p:first-child:hover {
    text-decoration-color: var(--crimson-red);
  }
}

@media (min-width: 500px) {
  .link__description {
    position: absolute;
    text-wrap: nowrap;
    z-index: 100;
    left: 50%;
    bottom: -0.25em;
    transform: translateX(-50%);
  }
}

.section__content-container {
  
}