@import url("https://fonts.googleapis.com/css2?family=Alegreya+SC:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");
@import "variables";

.book-list {
  height: fit-content;
  /* overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #1c1c1cd6 var(--bg-transparent); */
  list-style: none;
  border-radius: var(--rounded-borders);
  padding: 0 0.5em;
}

.book {
  min-height: 150px;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  padding: 15px 20px;
  display: flex;
}

.book {
  &:not(:last-child) {
    border-bottom: 1px solid #7c7c7c;
  }

  & img {
    width: 90px;
    height: 120px;
  }

  & .info-container {
    margin: 0 10px;
  }

  & img:hover {
    cursor: pointer;
    color: #d4d4d4;
  }
}

.info-container {
  & .book-title {
    color: var(--headers-color);
    font: var(--headers-font);
    margin: 0;
  }

  & .book-title:hover {
    cursor: pointer;
    color: #d4d4d4;
  }

  & .book-author {
    font: var(--subheaders-font);
    color: var(--subheaders-color);
    margin: 0;
    margin-bottom: 10px;
  }

  & .book-plot {
    font: var(--paragraph-font);
    color: var(--paragraph-color);
  }
}
