@import "variables";

.container {
  min-height: 100vh;
  max-height: fit-content;
  width: 90vw;
  background-color: var(--bg-transparent-grey);
  backdrop-filter: blur(5px);
  margin: 1em 2em;
  padding: 2em;
  border-radius: var(--rounded-borders);
  border-left: 5px solid var(--crimson-red);
  display: flex;
  flex-direction: column;
}

.book-info {
  img {
    float: left;
    width: 100px;
    height: auto;
    margin: 0 10px 10px 0;
    vertical-align: bottom;
  }
  h1 {
    font: var(--subheaders-font);
    color: white;
    font-size: 1.75em;
  }
  h2 {
    font: var(--subheaders-font);
    color: var(--subheaders-color);
    font-size: 1.25em;
  }
}

@media (min-width: 700px) {
  .book-info img {
    width: 150px;
  }
}

.book-section {
  margin-bottom: 1em;

  .section-title {
    font: var(--subheaders-font);
    color: var(--subheaders-color);
    font-size: 1.5em;
  }
}

.content-container {
  margin: 0 1em;
  list-style-type: none;
  position: relative;

  & h2 {
    margin-top: 0.5em;
    font: var(--subheaders-font);
    color: var(--subheaders-color);
    position: relative;
  }

  & h2::before {
    content: url();
    position: absolute;
    left: -1em;
  }

  & p {
    font: var(--paragraph-font);
    color: var(--paragraph-color);
    white-space: pre-wrap;
  }
}

@media (min-width: 700px) {
  .container {
    width: 80vw;
  }
}
@media (min-width: 1000px) {
  .container {
    width: 60vw;
  }
}
