.book-list {
  margin: 2em;
  margin-top: 0;
  list-style: none;
  background-color: rgba(51, 51, 51, 0.7);
  backdrop-filter: blur(5px);
  border-radius: 15px;
  padding: 0 0.5em;
}

.book {
  min-height: 150px;
  max-height: fit-content;
  background-color: rgba(51, 51, 51, 0);
  padding: 15px 20px;
  margin: 10px 0;
  border-bottom: 1px solid #7c7c7c;
  display: flex;
}

.book img {
  width: 90px;
  height: 120px;
}

.book .info-container {
  margin: 0 10px;
}

.book-title {
  color: white;
  margin: 0;
}

.book-title:hover,
.book img:hover {
  cursor: pointer;
  color: #d4d4d4;
}

.book-title,
.book-author {
  font-family: "Alegreya SC";
}

.book-author {
  color: rgb(213, 213, 213);
  margin: 0;
  margin-bottom: 10px;
}

.book-plot {
  font-family: "Inter Tight";
  color: rgb(207, 207, 207);
  font-size: 90%;
}

.next-page-btn {
  color: #6A9BD3;
  font-size: 125%;
  font-weight: bold;
  cursor: pointer;
}

.next-page-btn:hover {
  color: #5a85b5;
}
