@import "variables";

.centuries-container {
  max-height: fit-content;
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 5px solid var(--crimson-red);
  border-radius: var(--rounded-borders);
}

@media (min-width: 1000px) {
  .centuries-container {
    width: 70vw;
  }
}
@media (min-width: 1300px) {
  .centuries-container {
    width: 60vw;
  }
}

.centuries-nav {
  width: 100%;
  min-height: 4em;
  max-height: fit-content;
  display: flex;
  padding: 0.25rem 0;
  padding-left: 0.25rem;
  background-color: #333333cc;
  border-bottom: 3px solid var(--bg-transparent);
  border-radius: 0 15px 0 0;
}

.centuries-btn {
  flex-basis: 25%;
  margin: 0.25em 0;
  border: none;
  color: var(--headers-color);
  background-color: var(--bg-transparent);
  font: var(--subheaders-font);
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 1em;

  & .btn-text {
    transition: all 0.2s ease;
  }

  & .btn-text:hover {
    color: white;
    cursor: pointer;
    font-size: 1.15em;
    font-weight: bold;
  }

  &.chosen::before {
    content: "";
    width: 1em;
    height: 1.5em;
    background-color: var(--crimson-red);
    position: absolute;
    top: -0.5em;
    right: 0.5em;
    animation: enterFromTop 0.2s;
  }

  &:not(:last-child) {
    border-right: 3px solid #15151540;
  }

  &:last-child {
    border-radius: 0 15px 0 0;
  }
}

@keyframes enterFromTop {
  0% {
    height: 0;
  }
  100% {
    height: 2em;
  }
}

@media (min-width: 700px) {
  .centuries-btn {
    font-size: 1.25em;
  }
}

.century {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  background-color: var(--bg-transparent-grey);
  backdrop-filter: blur(5px);
  padding: 1em;
  padding-left: 1.5em;
  border-radius: 0 0 15px 0;
}

.section {
  margin: 0 0.5em;
  margin-bottom: 0.5em;
  padding: 0.5em;
  padding-top: 0;
  display: flex;
}

.section-content {
  .heading {
    color: var(--headers-color);
    font: var(--headers-font);
  }
  .plain-text {
    font: var(--paragraph-font);
    color: var(--paragraph-color);
    text-wrap: balance;
  }
}

.bookCover {
  width: 75px;
  height: 100px;
  float: left;
  margin-right: 1em;
}

@media (min-width: 700px) {
  .bookCover {
    width: 150px;
    height: 175px;
  }
}