@import "variables";
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  max-height: fit-content;
  position: relative;
}

.title {
  height: 250px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title h1 {
  font-family: "Creepster";
  font-size: 400%;
  text-wrap: wrap;
  color: white;
}

.title h2 {
  font-size: 125%;
  font-family: "Alegreya SC";
  color: #dddddd;
}




@media (min-width: 700px) {
  .introduction {
    width: 80vw;
  }
}
@media (min-width: 1000px) {
  .introduction {
    width: 60vw;
  }
}
@media (min-width: 1300px) {
  .introduction {
    width: 50vw;
  }
}
