@import "variables";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  background: var(--bg-grey);
}

body {
  min-height: 100vh;
}

#root {
  min-height: 100vh;
  max-height: fit-content;
  background-image: url("../assets/img/catalog_bg.jpg");
  background-size: 100vw 100vh;
  background-attachment: fixed;

}

main {
  min-height: 100vh;
  max-height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  position: relative;

  & .top-btn {
    position: fixed;
    bottom: 2em;
    right: 1.5em;
    width: 3em;
    z-index: 100;
    animation: grow 0.3s alternate;
    height: 3em;
    transition: transform 0.2s ease;

    &.enter {
      transform: scale(1);
    }

    &.exit {
      transform: scale(0);
    }

    & button {
      width: 100%;
      height: 100%;
      padding: 0 0.25em;
      border: none;
      border-radius: 50%;
      background-color: var(--crimson-red);
      font: var(--subheaders-font);
      font-size: 1.75em;
      color: var(--subheaders-color);

      &:hover {
        background-color: #5e0010;
        cursor: pointer;
      }
    }
  }
}

#centuries {
  max-height: fit-content;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40vw;
  position: absolute;
  top: 25%;
  left: 30%;
  color: var(--light-grey);
  background-color: var(--bg-transparent-grey);
  padding: 1em;
  border-radius: var(--rounded-borders);
  border-left: 5px solid var(--crimson-red);

  & h1 {
    margin: 1em;
    font: var(--headers-font);
  }

  & p {
    margin: 1em;
    font: var(--paragraph-font);
  }

  &#error {
    color: var(--subheaders-font);
  }

  & #errorBtn {
    padding: 10px;
    background-color: var(--crimson-red);
    font: var(--headers-font);
    color: white;
    font-style: none;
  }
}

footer {
  padding: 0.5em 0;
  text-align: center;
  color: white;
  background-color: var(--bg-grey);
  margin-top: 0.5em;
  font: var(--subheaders-font);
  display: flex;
  justify-content: center;
  align-items: center;

  & .link {
    color: white;
    margin: 0 3px;
    display: flex;
    align-items: center;
  }

  & .link:hover {
    color: rgb(211, 211, 211);
  }
}
.logo {
  width: 20px;
  height: 20px;
  margin: 0 3px;
}
