@import "variables";

.side {
  width: 100%;
  min-height: fit-content;
  max-height: 200px;
  color: var(--subheaders-color);
  font: var(--subheaders-font);
  font-size: 1em;
  padding: 1em;

  & .side-header {
    width: 100%;
    background-color: var(--crimson-red);
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    z-index: 30;
    padding: 0.5em 1em;

    & .open-button {
      margin: 0 0.5em;
      background-color: var(--bg-transparent);
      border: none;
      color: white;
    }
  }

  .headers {
    display: none;
    list-style-type: none;
    padding: 0.5em 2em;
  }

  .headers.opened {
    display: block;
  }
}

.link {
  font: var(--subheaders-font);
  color: var(--subheaders-color);
}
