@import "../../styles/variables.css";

.searchbar {
  display: flex;
  align-items: center;
  position: relative;
}

.searchbar__input {
  height: 2em;
  border: none;
  border-radius: 10px;
  padding: 0 10px;
  background-color: #333333;
  color: white;
}

.searchbar__input:focus {
  outline: 3px solid #868686;
  border: none;
}

.searchbar__btn {
  height: 16px;
  width: 16px;
  background-color: #333333;
  border: none;
  position: absolute;
  right: 10px;
}
.searchbar__btn:hover {
  cursor: pointer;
}
