@import "../../styles/variables.css";

.content-list {
  width: 100%;
  min-height: fit-content;
  max-height: 200px;
  color: var(--subheaders-color);
  font: var(--subheaders-font);
  font-size: 1em;
  padding: 1em;

  & .content-list__header {
    width: 100%;
    background-color: var(--crimson-red);
    border-radius: var(--rounded-borders);
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    z-index: 30;
    padding: 0.5em 1em;

    & .content-list__open-btn {
      margin: 0 0.5em;
      border: none;
      color: white;
      transition: transform 0.3s linear;
    }
  }

  .content-list__headers-container {
    transition: height 0.3s linear;
    overflow: hidden;
  }
}

.content-list__headers {
  padding: 0.5em 0;
  width: 100%;

  & .content-list__item {
    margin: 0.5em 0;
    display: flex;
    align-items: baseline;

    &::before {
      content: "► ";
      height: 1em;
      width: 1em;
      color: var(--crimson-red);
      opacity: 0;
      transition: all 0.2s ease;
      margin-right: 0.5em;
    }

    &:hover::before {
      opacity: 1;
    }
  }
}

.content-list__link {
  font: var(--subheaders-font);
  color: var(--subheaders-color);
}